<template>
  <codemirror
      v-model="code"
      placeholder="Code goes here..."
      :style="{ height: '400px' }"
      :autofocus="true"
      :indent-with-tab="true"
      :tab-size="2"
      :extensions="extensions"
      @ready="handleReady"
      @change="run_update"
      @focus="log('focus', $event)"
      @blur="log('blur', $event)"
  />
  <p> {{ result.value }}</p>
</template>

<script lang="ts">
import { defineComponent, ref, shallowRef } from 'vue'
import { Codemirror } from 'vue-codemirror'
import {ILexer, Lexer} from "../src/Lexer";
import {IParser, Parser} from "../src/Parser";
import {SchemeInterpreter} from "../src/Interpreter";

export default defineComponent({
  components: {
    Codemirror
  },
  setup() {

    const starting_text: string = `(print hello world)`

    const code = ref(starting_text)


    const extensions = []

    // Codemirror EditorView instance ref
    const view = shallowRef()
    const handleReady = (payload) => {
      view.value = payload.view
    }

    // Status is available at all times via Codemirror EditorView
    const getCodemirrorStates = () => {
      const state = view.value.state
      const ranges = state.selection.ranges
      const selected = ranges.reduce((r, range) => r + range.to - range.from, 0)
      const cursor = ranges[0].anchor
      const length = state.doc.length
      const lines = state.doc.lines
      // more state info ...
      // return ...
    }

    const result = shallowRef({
      value: ""
    })

    return {
      code,
      extensions,
      handleReady,
      log: console.log,
      result,
    }
  },

  methods: {
    run_update($event: string) {
      try {
        const lexer: Lexer = new Lexer()
        const parser: Parser = new Parser()
        const interpreter: SchemeInterpreter = new SchemeInterpreter()
        console.log(lexer.lex($event))
        this.result.value = interpreter.interpret(parser.parse(lexer.lex($event)))

      } catch (err) {
        this.result.value = err.message
      }
    }
  }



})
</script>